*{
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#020617,#0f172a,#020617);
    font-family:"Segoe UI", sans-serif;
}

.calculator{
    width:320px;
    background:#020822;
    padding:20px;
    border-radius:16px;
    box-shadow:0 20px 40px rgba(211, 94, 94, 0.8);
    animation:fadeIn 0.6s ease;
}

@keyframes fadeIn{
    from{opacity:0; transform:scale(0.9);}
    to{opacity:1; transform:scale(1);}
}

h2{
    text-align:center;
    color:#38bdf8;
    margin-bottom:15px;
}

.display{
    width:100%;
    height:60px;
    background:#616a79;
    border:none;
    color:#e5e7eb;
    font-size:26px;
    text-align:right;
    padding:10px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow: inset 0 0 8px rgba(255,255,255,0.1);
}

.buttons{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:12px;
}

button{
    height:55px;
    font-size:18px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    background:#2565cb;
    color:#e5e7eb;
    transition:all 0.2s ease;
}

button:hover{
    background:#38bdf8;
    color:#020617;
    transform:scale(1.05);
}

.operator{
    background:#128279;
}

.operator:hover{
    background:#22d3ee;
}

.equal{
    background:#2dcf68;
    color:#020617;
}

.equal:hover{
    background:#148e41;
}

.clear{
    grid-column: span 2;
    background:#c42525;
}

.clear:hover{
    background:#f87171;
}

.zero{
    grid-column: span 2;
}
